# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.tlog
*.log

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.cso
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.bak

.vs/
*.exp
*.idb
*.pdb


*.dds
*.tga

FrameWork/Client/Default/x64/
FrameWork/Engine/Default/x64/

FrameWork/Client/Bin/Client.pdb

FrameWork/Engine/Bin/Engine.pdb

FrameWork/Animation_Tool/Bin/PhysXGpu_64.dll

*.db
*.ini
*.ipch